<footer id="main-footer" >
    <div class="container">
        <div class="widgets">
            <div class="widget">
                <h6>Newsletter</h6>
                <form >
                    <label for="">
                        <input type="text" placeholder="Name">
                    </label>
                    <label for="">
                        <input type="text" placeholder="Email">
                    </label>
                    <a class="button">Sign up</a>
                </form>
            </div>           
        </div>
        <div class="copyright">  
           
           <small class="float-left">{{ site.title }} 2016 <i class="fa fa-copyright"></i> All rights reserved.</small>
           <a  class="float-right" href="http://www.estudiooka.com.br">
                <img src="http://www.okadesign.net/videos/by_okadesign.png" alt="Estúdio OKA" width="23" height="23"> 
            </a>                       
                
        </div>
    </div>

</footer>