<nav id="main-navigation">
    <div class="top-bar">
    	<div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">{{ site.title }}</li>         
            </ul>
        </div>  
        <div class="top-bar-right">
            <ul class="menu">  
            	<li><a href="/">Home</a></li>            
                <li><a href="/blog">Blog</a></li>
                <li><a href="/page">Page</a></li>
                <li><a href="/gallery">Gallery</a></li>
            </ul>
        </div>       
    </div>
</nav>